
@{
    ViewBag.Title = "YeniYetenek";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Yetenek Ekle</h2>

<form method="post">
    <label>Yetenek Adı</label>
    <input type="text" name="Skills" class="form-control" />
    <br />
    <label>Yetenek Oranı</label>
    <input type="text" name="Ratio" class="form-control" />
    <br />
    <input type="submit" value="Yeteneği Ekle" class="btn btn-success"/>
</form>

