<div class="resume-section-content">
    <form method="post">
        <h2 class="mb-5">İletişim</h2>
        <label>Ad & Soyad</label>
        <input type="text" class="form-control" name="atWho"/>
        <br>
        <label>E-Posta</label>
        <input type="text" class="form-control" name="Mail"/>
        <br>
        <label>Konu</label>
        <input type="text" class="form-control" name="Subject"/>
        <br>
        <label>Mesaj</label>
        <input type="text" class="form-control" name="Message"/>
        <br>
        <input class="btn btn-info" type="submit" value="Gönder" />
    </form>
</div>
