@using MVCCV.Models.Entity
@model List<TBL_SOCIAL>

<div class="social-icons">
    @foreach (var item in Model)
    {
    <a class="social-icon" href="@item.Link"><i class="@item.Icon"></i></a>
    }
</div>
