
@{
    ViewBag.Title = "AdminEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Admin Ekleme Sayfası</h2>
<br />
<form method="post">
    <label>Admin Adı</label>
    <input type="text" name="Username" class="form-control"/>
    <br />
    <label>Admin Parolası</label>
    <input type="text" name="Passwd" class="form-control"/>
    <br />
    <button class="btn btn-info"> <i class="fas fa-question-circle"></i> Admini Ekle </button>
</form>